<div id="graduado-<%= graduado.id %>" class='row text-secondary bg-light mb-2 mx-1 py-1 datos'>
  <div class='col-3 col-lg-1 align-self-center'>
    <%= graduado.documento %>
  </div>
  <div class='d-none d-lg-block col-lg-2 align-self-center'>
    <%= graduado.nombre %>
  </div>
  <div class='d-none d-lg-block col-lg-2 align-self-center'>
    <%= graduado.titulo %>
  </div>
</div>
