<div class="row">
  <div class="col-6 text-center form-signin">
    <h2 class= "m-3">¿Estoy en el Padrón 2019?</h2>

    <div class="form-floating">
      <%= form_with(url: busqueda_graduados_path, method: 'get', local: true) do %>
        <%= text_field_tag(:search, nil, placeholder: "Ingresa tu documento...", class: 'form-control') %>
        <%= button_tag(type: "submit", class: "btn btn-primary form-control mt-2") do %>
          <i class="fas fa-search"></i>
        <% end %>
      <% end %>
    </div>

    <% if @graduado.present? %>
      <i class="fas fa-check-circle fa-10x text-success m-4"></i>
      <h3>El documento <%= @graduado.documento %> se encuentra en el padrón.</h3>
    <% elsif @buscado %>
      <i class="fas fa-times-circle fa-10x text-danger m-4"></i>
      <h3>Si pensas que tenías que estar en el padrón, manda mail a algún@mail.com.</h3>
    <% end %>

  </div>
</div>
