<h1>Graduados</h1>

<div class='col-'>
  <div class="form-group">
    <%= filtro_graduado_por_documento_o_nombre_tag %>
  </div>
</div>


<div class='contenido-acta row rounded-top mb-2 mt-4 mx-1 atributos'>
  <div class='col-3 col-lg-1 align-self-center'>
    Documento
  </div>
  <div class='d-none d-lg-block col-lg-2 align-self-center'>
    Nombre
  </div>
  <div class='d-none d-lg-block col-lg-2 align-self-center'>
    Carrera
  </div>
  <div class='d-none d-lg-block col-lg-2 align-self-center'>
  </div>
</div>

<%= render @graduados %>
