<div class='contenido-acta row rounded-top mb-2 mt-4 mx-1 atributos'>
  <div class='col-3 col-lg-1 align-self-center'>
    numero
  </div>
  <div class='d-none d-lg-block col-lg-2 align-self-center'>
    unidad
  </div>
  <div class='d-none d-lg-block col-lg-2 align-self-center'>
    servicio
  </div>
  <div class='d-none d-lg-block col-lg-2 align-self-center'>
    grupo
  </div>
  <div class='col-3 col-lg-2 align-self-center'>
    creada
  </div>
  <div class='d-none d-lg-block col-lg-1 align-self-center'>
    estado
  </div>

  <div class='d-none d-lg-block col-lg-2 align-self-center'>
  </div>
</div>


